/* style001.css */

body
{
    background-color: rgb(40, 40, 40);
    font-family: Arial;
    color: rgb(255, 255, 255);
}

.theScreenStyle
{
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 50px;
    color: rgb(255, 255, 255);
    overflow-x: scroll;
}

.buttonNumbers
{
    margin: 1px;
    border-radius: 8px;
    padding: 1px 1px;
    background-color: rgb(40, 40, 40);
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.buttonNumbers:hover
{
    border-color: rgb(255, 255, 255);
    background: rgb(0, 217, 255);
}

.buttonNumbers:active
{
    position: relative;
    top: 1px;
    border-color: rgb(255, 0, 255);
    color: rgb(255, 0, 255);
}

.buttonSymbols
{
    position: relative;
    left: 0px;
    width: 45px;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

.buttonSymbols:hover
{
    border-color: rgb(255, 255, 255);
    background: rgb(0, 0, 100);
}

.buttonSymbols:active
{
    position: relative;
    top: 1px;
    border-color: rgb(255, 0, 255);
    color: rgb(255, 0, 255);
}

textarea
{
    padding: 5px 7px;
    background-color: rgb(0, 0, 0);
    border-radius: 8px;
    overflow-y: scroll;
    font-size: 15px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

/* ---- */

/* Dedicated to God the Father */
/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2025 */
/* https://github.com/ChristopherTopalian */
/* https://github.com/ChristopherAndrewTopalian */
/* https://sites.google.com/view/CollegeOfScripting */

