/* style001.css */

body
{
    background-color: rgb(40, 40, 40);
    color: rgb(255, 255, 255);
}

.theScreenStyle
{
    min-width: 400px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: solid;
    border-width: 2px;
    border-color: rgb(255, 255, 255);
    border-radius: 8px;
    font-size: 50px;
    color: rgb(255, 255, 255);
}

.buttonNumbers
{
    padding: 2px;
    margin: 2px;
    border-radius: 8px;
    background-color: rgb(40, 40, 40);
    font-size: 40px;
    color: rgb(255, 255, 255);
}

.buttonSymbols
{
    position: relative;
    left: 0px;
    width: 45px;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}

/* ---- */

/* Dedicated to God the Father */
/* All Rights Reserved Christopher Andrew Topalian Copyright 2000-2025 */
/* https://github.com/ChristopherTopalian */
/* https://github.com/ChristopherAndrewTopalian */
/* https://sites.google.com/view/CollegeOfScripting */

